# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 
Chapter_3/External/*


# Others
*.db*
*.suo
*.lock
*.vsidx
*.log
*.tlog
*.lastbuildstate
*.ipch
*.pdb
*.ipdb
*.recipe
*.ilk
*.idb
*FileListAbsolute*.txt
